<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Auth</title>
</head>
<body style="background: bisque">

<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px; line-height: 1.5; text-align: justify" >
        <h1 style="text-align: center">Login</h1>
    </div>
</div>
<div>
    <div style="width: 50%;  margin: 0 auto; font-size: 18px" >
        <form name="f" method="post" action="/process_login" >
            <label for="username" >Username</label>
            <br>
            <input type="text" name="username" id="username" th:value="'user'"/>
            <br>
            <label for="password" >Password</label>
            <br>
            <input type="password" name="password" id="password" th:value="'user'"/>
            <br>
            <input type="submit" th:value="Submit"/>
            <div th:if="${param.error}" style="color: red">
                Error</div>
        </form>
        <br>
        <a th:href="@{/auth/signup}" th:text="Signup" style="text-decoration: none"></a>
    </div>
</div>
</body>
</html>